<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        android:required="true" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        android:required="true" />


    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>


    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-feature android:name="android.hardware.microphone"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--
        <uses-feature
            android:name="android.hardware.telephony"
            android:required="false" />-->
    <!--

        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        <uses-permission android:name="android.permission.READ_SMS" />-->

    <!--
        <uses-permission android:name="android.permission.VIBRATE" />
    -->


    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:targetApi="tiramisu">


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_icon" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_color" />

        <activity
            android:name=".compose.ui.auth.AuthActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".compose.ui.onboarding.OnBoardingActivity"
            android:exported="true"

            />

        <activity
            android:name=".compose.ui.main.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name=".compose.ui.services.manage.ManageServicesActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".compose.ui.bookmarks.BookmarksActivity"
            android:exported="true" />

        <activity
            android:name=".compose.ui.chat.ChatActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".compose.ui.chat.IsolatedChatActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"

            />


        <activity
            android:name=".compose.ui.chat.PlayerActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:exported="true"
            android:theme="@style/Theme.PlayerActivity" />

        <activity
            android:name=".compose.ui.chat.ImagesSliderActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:exported="true"
            android:theme="@style/Theme.PlayerActivity" />


        <activity
            android:name=".compose.ui.account.InvalidSessionActivity"
            android:exported="true" />


        <activity
            android:name=".compose.ui.usedproducts.manage.UsedProductListingActivity"
            android:windowSoftInputMode="adjustResize"

            />

        <activity android:name=".compose.ui.theme.ThemeModeSettingsActivity" />



        <service
            android:name=".app.services.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />

        <activity
            android:name=".libs.imagepicker.GalleyImagesPagerActivity"
            android:exported="false" />

        <activity
            android:name=".libs.visualpicker.GalleyVisualsPagerActivity"
            android:exported="false" />

        <activity
            android:name=".libs.imagecrop.CropProfilePicActivity"
            android:exported="false"
            />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name="com.lts360.test.TestActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>